<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fina;TestSuite">
  <test thread-count="5" name="suitTest">
    <classes>
      <class name="Amazon.TestNG"/>
      <class name="test.TestNGClass"/>
    </classes>
  </test> <!-- suitTest -->
</suite> <!-- Fina;TestSuite -->
